@model WebLayer.EditModel.Class.AddSubjectEditModel
@{
    Layout = null;
}

<form asp-action="AddSubject" id="submitForm" onsubmit="return SubmitForm(this)">
    <div class="modal fade w-100" id="modal-id" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Add subject to class</h5>
                    <button class="btn btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" style="color: red"></div>
                    <table>
                        <tbody style="width: 100%;">
                            <tr>
                                <td>
                                    <span class="input-group-text me-2">Class</span>
                                </td>
                                <td style="width: 100%">
                                    @Html.ListBox("ClassId", Model.ClassList, new {
                                    @class = "form-control",
                                    id = "ClassListId",
                                    multiple="multiple",                                    
                                    })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="input-group-text me-2"> Subjects </span>
                                </td>
                                <td style="width: 100%">
                                    <select asp-for="@Model.SubjectId" class="form-select ms-2" id="SubjectListId"
                                        multiple="multiple" required>
                                        @foreach (var item in ViewBag.SubjectList)
                                        {
                                            <option value="@item.SubjectId"> @item.Name </option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#ClassListId').select2({
            dropdownParent: $('.modal'),
            width: '100%',
            theme: "classic"
        });
    })
    $(document).ready(function () {
        $('#SubjectListId').select2({
            dropdownParent: $('.modal'),
            width: '100%',
            theme: "classic"
        });
    })
</script>