@{
    Layout = "_MyParentLayout";
    string CurrentPage = ViewData["CurrentPage"] as string;    
}
<h2 class="text-center">Manage your account</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 pb-3">
                            <ul class="nav nav-tabs flex-column flex-sm-row">
                                <li class="flex-sm-fill text-sm-center">
                                    <a class="nav-link" asp-action="Index" asp-controller="Manage"
                                        id="PersonalDetails">Personal Details</a>
                                </li>
                                <li class="flex-sm-fill text-sm-center">
                                    <a class="nav-link" asp-action="UpdateEmail" asp-controller="Manage"
                                        id="UpdateEmail">Update Email</a>
                                </li>
                                <li class="flex-sm-fill text-sm-center">
                                    <a class="nav-link" asp-action="ChangePassword" asp-controller="Manage"
                                        id="ChangePassword">Change Password</a>
                                </li>
                                <li class="flex-sm-fill text-sm-center">
                                    <a class="nav-link" asp-action="TwoFactorAuthentication" asp-controller="Manage"
                                        id="TwoFactorAuthentication">Two Factor Authentication</a>
                                </li>
                                <li class="flex-sm-fill text-sm-center">
                                    <a class="nav-link" asp-action="PersonalData" asp-controller="Manage"
                                        id="PersonalData">Personal Data</a>
                                </li>
                            </ul>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let currentPage = '@CurrentPage';
    switch (currentPage) {
        case 'Index':
            document.querySelector('#PersonalDetails').classList.add('active');
            break;
        case 'ChangePassword':
            document.querySelector('#ChangePassword').classList.add('active');
            break;
        case 'UpdateEmail':
            document.querySelector('#UpdateEmail').classList.add('active');
            break;
        case 'TwoFactorAuthentication':
            document.querySelector('#TwoFactorAuthentication').classList.add('active');
            break;
        case 'PersonalData':
            document.querySelector('#PersonalData').classList.add('active');
            break;
    }

</script>
@section Scripts {
@RenderSection("Scripts", required: false)
}
